{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

	<header>
		{% include 'default/_navbar.html.twig' %}
	</header>

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="">
		<div class="">
			<div class="">
				<form
					action="{{ path('app_login') }}" method="post">

					<!-- Email input -->
					<div class="">
						<label class="" for="username">Email:</label>
						<input class="" type="email" id="username" name="_username" value="{{ last_username }}"/>
					</div>

					<!-- Password input -->
					<div class="">
						<label class="" for="password">Hasło:</label>
						<input type="password" id="password" name="_password" class=""/>
					</div>

					{# If you want to control the URL the user is redirected to on success
																								<input type="hidden" name="_target_path" value="/account"/> #}

					<button type="" class="">Zaloguj</button>
				</form>
			</div>

		</div>

	</div>

{% endblock %}
