{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_app'|trans }}
{% endblock %}

{% block body %}

	<header class="main-page__header mb-2">
		<h1>Jak działa aplikacja?</h1>
	</header>


	<div class="main-page__container">
		<div class="main-page__content about">

			<h2>Kolor w procesie projektowania aplikacji internetowej</h2>

			<p class="ml-2 mt-1">Wybranie palety kolorów to jedno z najważniejszych zadań przy projektowaniu serwisu internetowego. Generator palety kolorów ułatwia i automatyzuje ten proces.</p>

			<h3 class="mt-4">Jak działa generator palety?</h3>

			<h5 class="ml-3 mb-1">Skojarzenia</h4>

			<p class="ml-2 mt-0">Użytkownik serwisu wypełnia formularz, w którym musi zaznaczyć cztery słowa-skojarzenia, które najlepiej pasują do charakterystyki strony, której projekt chce wykonać.</p>

			<h5 class="ml-3 mb-1">Wybór szablonu serwisu internetowego</h4>

			<p class="ml-2 mt-0">Aplikacja koncentruje się na procesie wyboru koloru, dlatego projekty są proste i mają służyć tylko jako podpowiedź przy dalszym tworzeniu aplikacji internetowej.</p>

			<p class="ml-2 mb-0">Użytkownik ma do wyboru cztery podstawowe szablony takie jak:</p>

			<ul>
				<li>strona reklamująca produkt,</li>
				<li>strona reklamująca firmę,</li>
				<li>strona z wiadomościami,</li>
				<li>blog.</li>
			</ul>


			<h5 class="ml-3 mb-1">Gotowy projekt</h4>

			<p>Generator na podstawie wprowadzonych danych wybierze kolor główny, dobierze kolory uzupełniające, zastosuje paletę do projektu. Użytkownik zostanie przekierowany na stronę wyświetlającą gotowy projekt.</p>

			<p class="ml-2 mb-0">Użytkownik ma dodatkowo możliwość:</p>
			<ul>
				<li>sprawdzenia kontrastu między kolorem tekstu, a kolorem tła zgodnie z kryteriami dostępności WCAG 2.1,</li>
				<li>indywidualnego dostosowania zaproponowanych kolorów,</li>
				<li>ustawienia motywu strony na jasny lub ciemny.
				</li>
			</ul>

			<p class="ml-2 mb-0">Aby dostosować zaproponowane kolory należy:</p>
			<ul>
				<li>w panelu po lewej stronie ustawić nowy kolor,</li>
				<li>kliknąć przycisk “Zapisz”.</li>
			</ul>
			<p class="ml-2 mb-0">Aby ponownie wygenerować paletę:</p>
			<ul>
				<li>w panelu po lewej stronie kliknąć przycisk “Generuj paletę”.</li>
			</ul>
			<p class="ml-2 mb-0">Aby zmienić motyw:</p>
			<ul>
				<li>w panelu po lewej stronie kliknąć przycisk “Zmień motyw”.</li>
			</ul>

		</div>

	</div>


{% endblock %}
