{% extends 'base.html.twig' %}

{% block title %}
	Licencjat
{% endblock %}

{% block body %}

	<header>
		{% include 'default/_navbar.html.twig' %}
	</header>

	<nav id="main-page__header">
		<h1>Aplikacja wspomagająca dobór kolorystki stron internetowych</h1>
	</nav>

	<li class="nav-item">
		<a class="nav-link" href="{{ url('product') }}">Produkt</a>
	</li>

	{# <li class="nav-item">
		<a class="nav-link" href="{{ url('product') }}">Produkt</a>
	</li> #}


	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Email:
			{{ app.user.email }}</p>
	{% endif %}

{% endblock %}
