{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_home'|trans }}
{% endblock %}

{% block body %}

	<nav id="main-page__header">
		<h1>Aplikacja wspomagająca dobór kolorystyki stron internetowych</h1>
	</nav>

	<li class="">
		<a class="" href="{{ url('product') }}">Produkt</a>
	</li>

	<li class="">
		<a class="" href="{{ url('company') }}">Firma</a>
	</li>


	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Email:
			{{ app.user.email }}</p>
	{% endif %}


	<a href="https://github.com/rfveds/algorytm">algorytm</a>

{% endblock %}
