{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_home'|trans }}
{% endblock %}

{% block body %}

	<nav id="main-page__header">
		<h1>Aplikacja wspomagająca dobór kolorystyki stron internetowych</h1>
	</nav>

	<li class="">
		<a class="" href="{{ url('project_create') }}">Stwórz projekt</a>
	</li>


	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Email:
			{{ app.user.email }}</p>
	{% endif %}


{% endblock %}
