{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_app'|trans }}
{% endblock %}

{% block body %}

	<header class="main-page__header">
		<h1>Aplikacja wspomagająca dobór kolorystyki stron internetowych</h1>
	</header>

	{% if is_granted('ROLE_USER') %}
	<div class="main-page__container">
		<div class="main-page__content">
			<a href="{{ url('project_create') }}">Stwórz projekt</a>
		</div>
	</div>
	{% endif %}


{% endblock %}
