{% extends 'base.html.twig' %}

{% block title %}
    Licencjat
{% endblock %}

{% block body %}
    
    <header id="main-page__header">
    <h1>Aplikacja wspomagająca dobór kolorystki stron internetowych</h1>
    </header>
{% endblock %}