{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_app'|trans }}
{% endblock %}

{% block body %}

	<nav id="main-page__header">
		<h1>Aplikacja wspomagająca dobór kolorystyki stron internetowych</h1>
	</nav>

	<li class="">
		<a class="" href="{{ url('project_create') }}">Stwórz projekt</a>
	</li>

{% endblock %}
