{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_app'|trans }}
{% endblock %}

{% block body %}

	<header class="main-page__header mb-2">
		<h1>O serwisie</h1>
	</header>


	<div class="main-page__container">
		<div class="main-page__content about">
            <p class="ml-2 mt-1">
            Autorem niniejszego serwisu jest Karol Kijowski. 
            </p>
            <p class="ml-2 mt-1">
            Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), 
            przygotowanej pod kierunkiem prof. dr hab. Wiesława Lubaszewskiego, na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
            </p>
        </div>
	</div>


{% endblock %}
