{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<header>
		{% include 'default/_navbar.html.twig' %}
	</header>

	<h1>Register</h1>

	<div class="">
		<div class="">
			<div class="">
				<form
					action="{{ path('app_register') }}" method="post">

					<!-- Email input -->
					<div class="">
						<label class="" for="username">Email:</label>
						<input class="" type="email" id="username" name="_username"/>
					</div>

					<!-- Password input -->
					<div class="">
						<label class="" for="password">Hasło:</label>
						<input type="password" id="password" name="_password" class=""/>
					</div>

					<button type="button" class="">Zarejestruj</button>
				</form>
			</div>

		</div>

	</div>

{% endblock %}
