.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    /* border: 1px solid red; */
}

.bottom {
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.left {
    width: 70%;
    height: 100%;
    /* border: 1px solid blue; */
}

.right {
    width: 30%;
    height: 100%;
    /* border-left: 1px solid green; */
}

.right__post {
    display: flex;
    margin-top: 7%;
}

.right__image {
    margin: 10px;
    height: 7rem;
    width: 30%;
    background-color: grey;
}

.right__content {
    width: 60%;
    margin: 10px;
}

.right__content p {
    padding-bottom: 4%;
    font-size: 12px;
    width: 80%;
    border-bottom: 2px solid;
}

.right__content h4 {
    width: 60%;
    margin-top: 0.5rem;
    font-size: 18px;
    border-bottom: 2px solid;
}

.left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 8%;
    padding-top: 5%;
}

.left__post {
    width: 80%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left__post--image {
    height: 19rem;
    width: 19rem;
    background-color: gray;
}

.left__post--content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left__post--content p {
    padding-top: 2%;
    border-top: 1px solid;
}

.top__button {
    height: 50%;
    width: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__button p {
    margin: 0;
    font-size: 18px;
}