
*:focus {
  outline-color: var(--tertiary);
  outline-width: 0.0625rem;
  outline-style: solid;
  outline-offset: 0.25rem;
}

.header__button {
  position: relative;
  padding: 0.5rem;
  background-color: var(--tertiary);
  color: var(--primary-text-on-tertiary);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.header__button svg {
  will-change: transform;
  transform-origin: cetner center;
  transform: rotate(0deg);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button::after {
  content: attr(aria-label);
  will-change: opacity;
  position: absolute;
  right: 100%;
  top: 100%;
  color: var(--primary-text-on-primary);
  font-size: 0.875rem;
  white-space: nowrap;
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  pointer-events: none;
  z-index: 100000;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0.8);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button:hover, .header__button:focus {
  background-color: var(--tertiary-dark);
}
.header__button:hover::after, .header__button:focus::after {
  opacity: 1;
  transform: scale(1);
}
.header__button:active svg {
  transform: rotate(24deg);
}

.input {
  --font-scale: 0.8;
  --font-transform: scale(var(--font-scale)) translate(0.25rem, -1.25rem);
}
.input__label {
  will-change: transform;
  position: absolute;
  width: calc(100% - 16px);
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 1rem;
  color: var(--primary-text-on-light);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center left;
  pointer-events: all;
}
.input__input {
  width: calc(100% - ( 16px * 2 ) );
  margin: 1.5rem 1rem 0.5rem;
  font-size: 1rem;
  color: var(--primary-text-on-light);
}
.input__input:not(.placeholder-shown) + .input__label {
  color: var(--secondary-text-on-light);
  transform: var(--font-transform);
  pointer-events: none;
}
.input__input:focus {
  outline: none;
}
.input__error {
  will-change: opacity;
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  margin: 19.5rem 0.5rem;
  padding: 0;
  font-size: 0.75rem;
  color: #d50000;
}
.input__color {
  position: absolute;
  top: 50%;
  right: 1rem;
  padding: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.input__color--foreground {
  background-color: var(--output-foreground);
}
.input__color--background {
  background-color: var(--output-background);
}
.input--container {
  will-change: border-color;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  margin: 0.5rem 0 2rem;
  background-color: #ffffff;
  border: 1px solid var(--border-color-on-light);
  border-radius: 0.25rem;
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: text;
}
.input--container:hover {
  border-color: var(--border-secondary-color-on-light);
}
.input--container:focus-within {
  border-color: var(--tertiary);
}
.input--container:focus-within .input__label {
  color: var(--tertiary);
  transform: var(--font-transform);
  pointer-events: none;
}

.warning {
  margin-bottom: 1rem;
  color: #884000;
  font-size: 0.875rem;
  background-color: #fffde7;
  border-top: 0.0625rem solid var(--primary);
  border-bottom: 0.0625rem solid var(--primary);
}
.warning__container {
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 0.5rem 1.5rem;
}
.warning__text-icon {
  font-size: 0;
  margin-right: 0.5rem;
}
.warning__text-icon svg {
  width: 1.125rem;
  height: 1.125rem;
}

.wcag p {
  line-height: 1;
  font-size: 0.75rem;
  text-align: center;
}
.wcag__level {
  display: flex;
  align-items: center;
  color: var(--secondary-text-on-light);
}
.wcag__level-icon {
  font-size: 0;
  margin-left: 1rem;
}
.wcag__level-icon svg {
  width: 1.125rem;
  height: 1.125rem;
}
.wcag__level-icon--pass {
  color: #1b5e20;
}
.wcag__level-icon--fail {
  display: none;
  color: #ac1616;
}
.wcag__level-text {
  padding-left: 0.5rem;
}

.result--container {
  color: var(--output-foreground);
  background-color: var(--output-background);
}
.result__text {
  font-weight: 100;
  color: var(--output-foreground);
}