body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "s m";
    grid-template-rows: 1fr;
    grid-template-columns: 160px 1fr;
}

.colors__settings {
    display: flex;
    flex-direction: column;
}

.colors--value {
    color: black;
    display: inline-block;
}

.settings {
    background-color: rgb(204, 204, 204);
    grid-area: s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-content {
    grid-area: m;
}