.circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 21%;
    z-index: 2;
}

.square {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 27%;
    right: 18%;
    z-index: 0;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 200px solid;
    z-index: 1;
    position: absolute;
    right: 11%;
    top: 52%;
}

.graphic {
    display: flex;
}

.left {
    height: 100vh;
    width: 47%;
    display: flex;
    flex-direction: column;
}

.left__top {
    height: 20%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left__bottom {
    height: 80%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 60px;
    width: 100%;
    /* background-color: black; */
    margin-left: 10%;
    font-size: 3.5rem;
}

.navigation {
    width: 20%;
    height: 90%;
    /* background-color: cyan; */
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.right {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right__top {
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right__center {
    height: 60%;
    width: 100%;
    /* background-color: yellow; */
}

.right__bottom {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 5%;
    margin-bottom: 1rem;
}

.text--main {
    height: 20%;
    width: 100%;
    /* background-color: black; */
    margin-top: 40%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}