.content {
    display: flex;
    height: 100vh;
}

.left {
    width: 90%;
}

.left__top {
    height: 20%;
}

.left__bottom {
    height: 80%;
}

.right {
    width: 10%;
}

.logo {
    font-size: 72px;
    padding-left: 15%;
    padding-top: 5%;
}

.logo svg {
    position: absolute;
    height: 12%;
    width: 12%;
    left: 11%;
    top: 3%;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-size: 24px;
    align-items: center;
    margin-top: 30%;
    margin-right: 10%;
}

.graphic-element svg {
    width: 100%;
    height: 100%;
    padding-left: 10%;
}

@media (min-width: 1440px) {

    .logo {
        font-size: 72px;
        padding-left: 12%;
        padding-top: 3%;
    }

    .logo p {
        padding-left: 5%;
    }
}