body, html {
    margin: 0;
    height: 100vh;
    line-height: 1;
    font-family: "Operator Mono", "Inconsolata", "Roboto Mono", monospace;
}

.main-page__header {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.main-page__header > a {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid black;
}

.main-page__header > a:hover {
    border: none;
    background-color: #3792d3;
    border: 1px solid #3792d3;
    color: azure;
}

.main-page__header p {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.main-page__container {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
}

.main-page__content {
    height: 80%;
    width: 100%;
}

.main-page__content p, li{
    text-align: start;
    font-size: medium;
}

.logo {
    width: 80%;
}

.about{
    width: 55%;
}