{#
    Navbar.
#}

<ul class="nav justify-content-start">
	<li class="nav-item">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="nav-link" href="{{ url('app_logout') }}" class="">
				Wyloguj
			</a>
		{% else %}
			<a class="nav-link" href="{{ url('app_login') }}" class="">
				Zaloguj
			</a>
		</li>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url('app_register') }}" class="">
			Zarejestruj
		</a>
	{% endif %}
</li></ul>
