<div class="content" style="background-color: {{ project.lightShades }}">
	<div class="top">
		<div class="hamburger">
			<div class="logo" style="color: {{ project.baseColor }}">
				<p>maleada</p>
			</div>
		</div>
\
	</div>
	
</div>

<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
