{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
	<div class="settings">
		<ul class="">
			<li class="">
				<a class="" href="{{ url('homepage') }}">Generator</a>
			</li>
		</ul>
	</div>
	<div class="main-content"></div>
</div>
{% endblock %}