{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

	<a class="" href="{{ url('homepage') }}">
		{{ 'title_app'|trans }}
	</a>


{% endblock %}
